# Core ML and Data Science Libraries
pandas
numpy
scikit-learn
plotly
# Visualization
matplotlib
seaborn

# Streamlit Deployment
streamlit

# Utilities
joblib
pillow

# Optional: For advanced explainability
# shap
# lime
